@model GroceryStore.Models.DataLayer.User
<style>
    .scrolling-wrapper {
        overflow-x: auto;
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-body m-2">
            <h1 class="d-flex justify-content-center">User Profile</h1>

            <div>
                <p><span class="h4">Username :&nbsp;</span> @Model.Username</p>
                <p><span class="h4">Email :&nbsp;</span> @Model.Email</p>
            </div>
        </div>
    </div>

   
</div>
